
// styles for the header section of the deck builder


header
{
	background-color: $color-3;
	margin-bottom: 0.5rem;
	display: grid;
	grid-template-columns: 8rem auto;
	align-items: center;

	img
	{
		vertical-align: top;
		height: 3rem;
	}

	h1
	{
		margin: 0;
		font-size: 3rem;
		line-height: 3rem;
		@include font-weight-light;  //  found in mixins
	}

	p
	{
		text-align: right;
		margin-bottom: 0;

		a
		{
			border: 1px solid $color-2;
			border-radius: 1rem;
			padding: 0.25rem 0.5rem;
			line-height: 3rem;
			margin-right: 1rem;
			color: $color-2;

			&:hover
			{
				color: $color-1;
				border-color: $color-1;
				text-decoration: none;
			}
		}
	}
}