
// 

$orange-dark: #ff8c00;
$grey-light: #DDD;
$grey-dark: #444;
$blue: #007BFF;
$white: #FFF;

$color-1: $blue;
$color-2: $orange-dark;
$color-3: $white;
$color-4: $grey-light;
$color-5: $grey-dark;

$border-radius-small: 3px;
$border-radius-medium: 6px;