// TODO deprecate bootstrap
@import './bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

@import './mixins.scss';
@import './variables.scss';
@import './elements.scss';


.page-banner
{
	background-color: $color-1;
	color: $color-3;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.page-banner h1
{
	font-size: 3rem;
	@include font-weight-light;
}

.btn
{
	border-radius: 1rem;
}

.card
{
	border-radius: 1rem;
}

.card .list-group:last-child .list-group-item:last-child
{
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.card-filter-btn-group
{
	@extend .mb-2;

	>button
	{
		@extend .mb-1;
		@extend .btn;
		@extend .btn-outline-secondary;

		*
		{
			pointer-events: none;
		}

		img
		{
			width: 1.5rem;
			vertical-align: top;
		}

		&:hover span.fa-bookmark, &.active span.fa-bookmark
		{
			color: $white;
		}
	}
}


.underworlds-card
{
	border: 4px solid #4448;
}


#search-text
{
	border: 1px solid #444;
	border-radius: 1rem;
	@extend .mb-3;
}


span.fa-bookmark
{
	color: $blue;
}

.card-summary-row
{
	display: grid;
	grid-template-columns: 45% 45% 10%;
}