
					<div class="btn-group card-filter-btn-group">
						<button type="button" data-config-key="activeCardTypeFilters" data-config-value="1" title="Surge objectives"><img src="images/cardtypes/objective.png" /> <span class="fas fa-stopwatch"> </span></button>
						<button type="button" data-config-key="activeCardTypeFilters" data-config-value="0" title="End phase objectives"><img src="images/cardtypes/objective.png" /> <span class="fas fa-hourglass-end"> </span></button>
						<button type="button" data-config-key="activeCardTypeFilters" data-config-value="2" title="Gambit Ploys"><img src="images/cardtypes/ploy.png" /></button>
						<button type="button" data-config-key="activeCardTypeFilters" data-config-value="3" title="Gambit Spells"><img src="images/cardtypes/spell.png" /></button>
						<button type="button" data-config-key="activeCardTypeFilters" data-config-value="4" title="Upgrades"><img src="images/cardtypes/upgrade.png" /></button>
					</div>

					<div class="btn-group card-filter-btn-group faction-toggle">
						<button type="button" data-config-key="activeFactionFilters" data-config-value="17" title="Grashrak's Despoilers"><img src="images/warbands/grashraks_despoilers.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="18" title="Skaeth's Wild Hunt"><img src="images/warbands/skaeths_wild_hunt.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="19" title="Grymwatch"><img src="images/warbands/grymwatch.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="20" title="Rippa's Snarlfangs"><img src="images/warbands/rippas_snarlfangs.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="23" title="Wurmspat"><img src="images/warbands/wurmspat.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="24" title="Hrothgorn's Mantrappers"><img src="images/warbands/horthgorns_mantrappers.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="25" title="unknown warband #7"><img src="images/warbands/beastgrave.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="26" title="unknown warband #8"><img src="images/warbands/beastgrave.png" /></button>
					</div>

					<div class="btn-group card-filter-btn-group faction-toggle">
						<button type="button" data-config-key="activeFactionFilters" data-config-value="9" title="Stormsire's Cursebreakers"><img src="images/warbands/stormsires_cursebreakers.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="10" title="Thorns of the Briar Queen"><img src="images/warbands/thorns_of_the_briar_queen.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="11" title="Eyes of the Nine"><img src="images/warbands/eyes_of_the_nine.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="12" title="Zarbag's Gitz"><img src="images/warbands/zarbags_gitz.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="13" title="Godsworn Hunt"><img src="images/warbands/godsworn_hunt.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="14" title="Mollog's Mob"><img src="images/warbands/mollogs_mob.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="15" title="Thundrik's Profiteers"><img src="images/warbands/thundriks_profiteers.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="16" title="Ylthari's Guardians"><img src="images/warbands/yltharis_guardians.png" /></button>
					</div>

					<div class="btn-group card-filter-btn-group faction-toggle">
						<button type="button" data-config-key="activeFactionFilters" data-config-value="1" title="Garrek's Reavers"><img src="images/warbands/garreks_reavers.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="2" title="Steelheart's Champions"><img src="images/warbands/steelhearts_champions.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="3" title="Sepulchral Guard"><img src="images/warbands/sepulchral_guard.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="4" title="Ironskull's Boyz"><img src="images/warbands/ironskulls_boyz.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="5" title="Chosen Axes"><img src="images/warbands/chosen_axes.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="6" title="Spiteclaw's Swarm"><img src="images/warbands/spiteclaws_swarm.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="7" title="Magore's Fiends"><img src="images/warbands/magores_fiends.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="8" title="Farstriders"><img src="images/warbands/farstriders.png" /></button>
					</div>

					<div class="btn-group card-filter-btn-group faction-toggle">
						<button type="button" data-config-key="activeFactionFilters" data-config-value="21" title="Ironsoul's Condemnors"><img src="images/warbands/ironsouls_condemnors.png" /></button>
						<button type="button" data-config-key="activeFactionFilters" data-config-value="22" title="Lady Harrow's Mournflight"><img src="images/warbands/ladyharrows_mournflight.png" /></button>
					</div>
					
					<div class="btn-group card-filter-btn-group faction-toggle">
						<button type="button" data-config-key="activeFactionFilters" data-config-value="0" title="Universal cards"><img src="images/warbands/universal.png" /></button>
					</div>

					<div class="btn-group card-filter-btn-group custom-toggle">
						<button type="button" data-config-key="activeCustomFilters" data-config-value="0" title="Only show bookmarked cards"><span class="fas fa-fw fa-bookmark"> </span></button>
					</div>

					<div>
						<input type="text" class="form-control" id="search-text" placeholder="Search..." />
					</div>

					<p id="js-results-count"></p>
					<div id="js-content" class="list-group" />